body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
}

.header {
    /* estilo general de todo lo correspondiente al header */
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    /* estilo del primer título, mi nombre en tamaño de letra y espacio abajo  */
    font-size: 28px;
    margin-bottom: 5px;
}

.header p {
    font-size: 14px;
    font-weight: bold;
    color: #555;
}

.section {
    margin-bottom: 20px;
}

.section-title { 
    /* este es el estilo para los títulos de cada sección */
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

.contact-info, .skills, .languages, .experience ul {
    list-style-type: none;
    padding: 0;
}

.contact-info li, .skills li, .languages li, .experience li {
    margin-bottom: 8px;
}

ul {
    padding-left: 20px;
}

.skills li, .languages li {
    display: inline-block; /* Hace que los elementos se alineen uno al lado del otro */
    width: 48%;
}

.experience {
    margin-top: 15px;
}

.experience h3 {
    font-size: 16px;
    font-weight: bold;
}

.experience p {
    font-style: italic;
    font-size: 14px;
}

.experience ul {
    padding-left: 15px;
}
